[submodule "tinycc"]
	path = lib/tcc
	url = https://github.com/davidar/tinycc.git
[submodule "toybox"]
	path = lib/toybox
	url = https://github.com/davidar/toybox.git
[submodule "sabotage"]
	path = test/sabotage
	url = https://github.com/davidar/sabotage.git
