[submodule "tinycc"]
	path = lib/tcc
	url = https://github.com/davidar/tinycc.git
[submodule "musl"]
	path = lib/musl
	url = https://github.com/davidar/musl.git
[submodule "toybox"]
	path = lib/toybox
	url = https://github.com/davidar/toybox.git
[submodule "musl-cross-make"]
	path = test/musl-cross-make
	url = https://github.com/richfelker/musl-cross-make.git
[submodule "cosmopolitan"]
	path = test/cosmopolitan
	url = https://github.com/jart/cosmopolitan.git
[submodule "sabotage"]
	path = test/sabotage
	url = https://github.com/sabotage-linux/sabotage.git
[submodule "busybox"]
	path = test/busybox
	url = https://git.busybox.net/busybox
